@import "~bootstrap/scss/bootstrap";
@import "../vendor/tablesorter-2.31.2/dist/css/theme.bootstrap_4.min.css";

.trade-data, .trade-data .btn, nav .btn {
    font-size: 12px;
}
.trade-data tr.watchlist td {
    color: #ccc !important;
}
.up {
    color: green;
}
.down {
    color: red;
}
.text {
    text-align: left;
}
.number {
    text-align: center;
}
.money, .ratio {
    position: relative;
    text-align: right;
}
.money {
    padding-left: 20px !important;

    &:after {
        content: "$";
        position: absolute;
        height: 20px;
        width: 10px;
        top: 12px;
        left: 10px;
    }
}
tr:not(.watchlist) .highlight {
    background-color: #d4f1d4;
}
tr:not(.watchlist) .highlight-old {
    background-color: #f1c2c2;
}
















#chart-container {
    display: none;
    text-align: center;

    & > div {
        display: inline-block;
    }
}
#chartbar {
    text-align: center;

    i.clickable {
        padding: 0 5px;
    }
}
i.clickable {
    cursor: pointer;
    color: #999;

    &.disabled,
    &.disabled:hover {
        cursor: not-allowed;
        color: #ccc;
    }
    &.active,
    &:hover {
        color: #000;
    }
}
#chartSelect:checked + label {
    background: #5797d7;
    border-color: #555;
}


.divider {
    background-color: #888;
    color: #888;
}