{% extends 'base.html.twig' %}

{% block extranav %}
{% endblock %}

{% block content %}
    <div class="infoblock">
        <span class="metric">Account value</span>
        <span class="value">${{ accountValue|round(2)|number_format(2) }}</span>
    </div>
    <div class="infoblock">
        <span class="metric">Buying power</span>
        <span class="value">${{ buyingpower|round(2)|number_format(2) }}</span>
    </div>
    <div class="infoblock">
        <span class="metric">Cash</span>
        <span class="value">${{ cash|round(2)|number_format(2) }}</span>
    </div>
    <div class="infoblock">
        <span class="metric">Annual return</span>
        <span class="value">${{ annualReturn|round(2)|number_format(2) }}</span>
    </div>
{% endblock %}