{% extends 'base.html.twig' %}

{% block extranav %}
{% endblock %}

{% block content %}
    <div class="infoblock">
        <span class="metric">Account value</span>
        <span class="value">{{ accountValue }}</span>
    </div>
    <div class="infoblock">
        <span class="metric">Buying power</span>
        <span class="value">{{ buyingpower }}</span>
    </div>
    <div class="infoblock">
        <span class="metric">Cash</span>
        <span class="value">{{ cash }}</span>
    </div>
    <div class="infoblock">
        <span class="metric">Annual return</span>
        <span class="value">{{ annualReturn }}</span>
    </div>
{% endblock %}